@model ProgII_VideoClub.Models.Elenco_articulo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Elenco_articulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Articulo1.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulo1.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Elenco1.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Elenco1.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Articulo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
